html {
  font-size: 16px;
}

body {
  background-color: palegoldenrod;
}

h1, h2 {
  margin: 0;
}

header {
  margin-bottom: 1rem;
}

main {
  background-color: lightyellow;
  padding: 1rem;
  margin: 0 auto;
  max-width: 30rem;
}

section {
  margin: 1rem 0 0;
  line-height: 1.5rem;
  white-space: pre-line;
}

.dark-mode {
  background-color: black;
  color: lightblue;
  
}
